# Gradle
.gradle/
build/
**/build/
gradle-app.setting
local.properties

# IntelliJ / Android Studio
.idea/
*.iml
*.iws
*.ipr

# Hyperskill plugin junk
util/
course-info.yaml
course-remote-info.yaml
*-info.yaml
*-remote-info.yaml
task.html
lesson-info.yaml

# OS
.DS_Store
Thumbs.db

# Logs / captures / APKs
*.log
captures/
*.apk
*.ap_
*.dex

# Native build
.externalNativeBuild/
.cxx/

